.search-item-wrapper {
  padding: 20px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  transition: all 0.3s ease 0s;
}
.search-city {
  font-weight: bold;
}
.search-item-wrapper:hover {
  background-color: #7c7d7d;
  transform: scale(1.03);
}

.city-info {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  width: 30%;
}

@media screen and (max-width: 815px) {
  .city-info {
    width: 50%;
  }
}
